.main-login {
    margin-top: 5em;
}

.login-container {
    width: 30%;
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.login-container form .button-cta {
    margin-top: 1em;
}

.login-container form {
    margin: 3em 0 6em 0;
}

.login-container a {
    color: black;
    font-style: italic;
}

.login-container a:hover {
    color: var(--secondary);
    text-decoration: underline;
}

.login-container a i {
    margin-right: 0.5em;
}