.members-container {
    background-color: var(--light-primary);
    margin: 0;
}

.members-section {
    width: 90%;
    display: flex;
    margin: auto;

}

/*_________________________________*/
/* Partie gauche - les tags et la recherche */

.members-aside {
    width: 30%;
    background-color: white;
    border-radius: 2em;
    height: 80vh;
    margin-top: 5vh;
    position: fixed;
}

.search-box {
    position: relative;
    width: 80%; 
    top: 2em;
    margin: auto;
}

.input-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.input-container i {
    position: absolute;
    top: 46%;
    left: 10px; 
    transform: translateY(-50%);
    color: #999; 
}

.input-container input {
    width: 100%;
    padding-left: 40px;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    display: none;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 35px;
    line-height: 38px; 
    color: #999; 
    transition: 0.2s ease-out;
    pointer-events: none;
}

.input-container input:placeholder-shown + label {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.members-aside .tags-container {
    position: relative;
    top: 3em;
    text-align: center;
}

.members-aside .tag-item:hover {
    cursor: pointer;
}

/*_________________________________*/
/* Partie droite - les membres */
.members-article {
    width: 70%;
    margin-left: 40%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.member-card {
    background-color: var(--dark-primary);
    border-radius: 2em 2em 0 0;
    display: flex;
    align-items: center;
    padding: 1em 2em 1.2em 2em;
    gap: 2em;
    border-bottom: 10px solid var(--secondary);
    color: white;
}

.member-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2em;
    aspect-ratio: 1/1;
}

.member-card h2 {
    font-size: 24px;
}

.member-card h2{
    text-align: center;
    margin: 0;
}

.members-relative {
    position: relative;
}

.members-article a {
    position: absolute;
    right: 0;
    bottom: 0px;
    transform: scale(0.5);
    transform-origin: bottom right;
}

li {
    color: var(--dark-primary);
    font-family: var(--body);
    font-weight: 800;
}

.member-card-info .tags-container .tags-list {
    margin: 0 ;
    text-align: center;
    padding: 0;
}

.member-card-info p {
    margin: 0.3em 0;
}