.members-container {
    background-color: var(--light-primary);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.members-section {
    width: 90%;
    margin: auto;
}

/*_________________________________*/
/* Partie gauche - les tags et la recherche */

.members-aside {
    width: 100%;
    background-color: white;
    border-radius: 2em;
    margin: auto;
    margin-top: 1em;
}

.search-box {
    width: 80%; 
    margin: auto;
}

.input-container {
    padding-top: 1em;
    position: relative;
    display: flex;
    justify-content: center;
}

.input-container i {
    position: absolute;
    top: 60%;
    left: 10px; 
    transform: translateY(-50%);
    color: #999; 
}

.input-container input {
    width: 100%;
    padding-left: 40px;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    display: none;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 35px;
    line-height: 38px; 
    color: #999; 
    transition: 0.2s ease-out;
    pointer-events: none;
}

.input-container input:placeholder-shown + label {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.members-aside .tags-container {
    top: 3em;
    text-align: center;
}

.members-aside .tag-item:hover {
    cursor: pointer;
}

/*_________________________________*/
/* Partie droite - les membres */
.members-article {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5em;

}

.members-relative {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 48%
}

.member-card {
    background-color: var(--dark-primary);
    border-radius: 2em 2em 0 0;
    display: flex;
    align-items: center;
    gap: 2em;
    border-bottom: 10px solid var(--secondary);
    color: white;
    width: 100%;
    position: relative;
    transition: transform 0.3s ease;
}

.member-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2em;
    aspect-ratio: 1/1;
    margin: 1em 0 1em 1em;
}

.member-card-info {
    margin: 1em 1em 1em 0;
}

.member-card h2 {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.member-card h2{
    text-align: center;
    margin: 0;
}

li {
    color: var(--dark-primary);
    font-family: var(--body);
    font-weight: 800;
}

.member-card-info .tags-container .tags-list {
    margin: 0 ;
    text-align: center;
    padding: 0;
}

.member-card-info p {
    margin: 0.3em 0;
}

.members-relative button {
    position: absolute;
    bottom : -45px;
    right: 0;  
    transform: scale(0.5);
    transform-origin: top right; 
}

.member-card-link:hover button {
    transform: scale(0.55);
    transition: transform 0.3s ease; 
  }

