.tag-item {
    list-style: none;
    display: inline-block;
    margin: 5px;
    position: relative; /* Position relative pour permettre le positionnement absolu de l'image */
    background-color: white; 
    border: 3px solid var(--secondary); 
    border-radius: 0.2em; 
    padding: 0 15px;
    font-size: 16px;
  }
  

  