.tag-item {
    list-style: none;
    display: inline-block;
    margin: 5px;
    background-image: url('./tag.png');
    background-size: 200px 115px; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 20px;
    line-height: 1.5; 
    font-size: 22px; 
}
