.dashboard {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.dashboard h3, .dashboard p {
    margin: 0;
}

.dashboard label, .dashboard button {
    margin-top: 1em;
}

.dashboard-field {
    display: flex;
    flex-direction: row;
    gap : 2.5em;
}

.dashboard-presentation {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2em;
}

.dashboard-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap : 1em;
    width: 100%;
}

.content-n {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.content-n h4 {
    margin-bottom: 0;
}