.dashboard {
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.dashboard h3, .dashboard p {
    margin: 0;
}

.dashboard label, .dashboard button {
    margin-top: 1em;
}

.dashboard-field {
    display: flex;
    flex-direction: row;
    gap : 2.5em;
}

.dashboard-presentation {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2em;
}

.dashboard-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap : 2em;
    width: 100%;
}

.content-n {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.content-n h4 {
    margin-bottom: 0;
}

.dashboard-nav {
    margin: 3%;
    display: flex;
    gap : 3em;
    justify-content: center;
}

.dashboard-nav i {
    margin-right: 1em;
}

.dashboard-publish {
    text-align: center;
}

.dashboard-header {
    margin: 3%;
}

.dashboard-header h2 {
    text-align: center;
}

.dashboard-header p {
    margin: 0;
}

/*Boutons*/
.button-cta {
    padding: 10px 20px;
    font-size: 1.5vw;
    font-weight: 600;
    background-color: #fff;
    color: var(--primary);
    border: 5px solid var(--primary);
    border-radius: 20px 20px 0px 20px;
    cursor: pointer;
    box-shadow: -10px -10px 0 var(--secondary); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    font-family: var(--heading);
    text-transform: uppercase;
    width: fit-content;
}

.button-cta:hover {
    transform: translateY(-5px);
    box-shadow: -5px -5px 0 var(--secondary);
    border-color: var(--secondary);
    color: var(--secondary);
}

.button-fixed {
    position: fixed;
    top: -1%; 
    left: 18%; 
    z-index: 1000; 
}

.button-nav{
    font-size: 1vw;
    font-weight: 600;
    background-color: #fff;
    color: var(--primary);
    border: none;
    cursor: pointer;
    font-family: var(--heading);
    width: fit-content;
}

.button-nav:hover, .button-nav a:hover {
    color: var(--secondary);
    border: none;
    text-decoration: underline;
}

.button-nav a {
    font-size: 1vw;
    font-weight: 600;
    font-family: var(--heading);
    color: var(--primary);
}

.seventy {
    scale: 0.7;
}

.member-creation {
position: absolute;
top: 40%;
left: 39%;
scale: 1.5;
}