.contact form {
    padding: 8% 20% 1% 20%;
}

.contactEntry {
    display: flex;
    flex-direction: column;
}

.contactFixed {
    width: 50%;
}

.contactCandidacy, .contactSponsor {
    display: none;
}

.contact form textarea {
    height: 10em;
}

.contact label {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 24px;
    font-weight: 600;
}

.contact form .button-cta {
    position: absolute;
    margin-top: 1em;
}

.contact hr {
    height: 20px;
    background-color: var(--secondary); 
    border: none; 
    margin: 20px 0; 
}