.contact form {
    padding: 8% 20% 1% 20%;
}

.contactEntry {
    display: flex;
    flex-direction: column;
}

.contactFixed {
    width: 50%;
}

.contactMessage {
    display: flex;
}

.contactCandidacy {
    display: none;
}

.contactSponsor {
    display: none;
}

.contact form textarea {
    height: 10em;
}

.contact label {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 24px;
    font-weight: 600;
}

.contact form .button-cta {
    position: absolute;
    margin-top: 1em;
}

.contact hr {
    height: 20px;
    background-color: var(--secondary); 
    border: none; 
    margin: 20px 0; 
}


.contact aside {
    position: absolute;
    top: 13.5em; 
    right: 20%; 
    background-color: var(--dark-primary);
    color: white;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    height: 19.4em;
    border-radius: 2em;
    box-shadow: -2px 2px 10px black;
  }

  .contact aside p {
    padding: 1em 2em 1em 2em;
  }

  .changeFormBtn {
    display: flex;
}

.changeFormBtn .button-cta {
      font-size: 22px;
      margin-right: 1.1em;
  }