header {
    position: sticky;
    top: 0;
    background-color: white;
    height: 8%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    border-bottom: solid 1px var(--light-primary);
    z-index: 1000;
}

.logoNav {
    height: 65px;
}

.logoNav:hover {
    cursor: pointer;
}

nav {
    display: flex;
    max-width: 80%; 
    gap: 2.5em;
    align-items: center;
}

nav a {
    color: black;
}

nav a:hover {
    color: var(--secondary);
}

a {
    text-decoration: none;
    position: relative; 
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Ajuste la position verticale du soulignement */
    left: 5px; /* Ajuste le décalage horizontal du soulignement */
    width: calc(100% - 10px); /* Ajuste la largeur du soulignement en fonction du décalage */
    height: 2px; /* Ajuste l'épaisseur du soulignement */
    background-color: var(--secondary); /* Couleur du soulignement */
    visibility: hidden; /* Cache le soulignement par défaut */
    transform: scaleX(0); /* Réduit la largeur du soulignement à 0 */
    transition: transform 0.5s ease, visibility 0.5s ease; /* Animation du soulignement */
}

nav a:hover::after {
    visibility: visible; /* Rend le soulignement visible au survol */
    transform: scaleX(1); /* Agrandit la largeur du soulignement */
    text-decoration: none; /* Supprime le soulignement par défaut du texte */
    text-decoration-skip-ink: none; /* Évite que le soulignement coupe les lettres */
}

.fa-circle-user{
font-size: 42px;
color: var(--primary);
position: relative;
}

.fa-circle-user:hover {
    color: var(--secondary);
    cursor: pointer;
}


hr {
    display: flex;
    align-self: normal;
}