footer {
    background-color: var(--dark-primary);
    color: white;
    padding: 4em;
    margin-top: 10em;
    background-image: url("../../../public/images/Doodles/sciences.png");
    background-position: center center;
    background-repeat: repeat;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}