/* Variables de base pour le design */
:root {
    /* Couleurs */
    --primary: #1790E3;
    --dark-primary: #2370A5;
    --light-primary: #E8F4FD;
    --secondary: #E36B18;
    --light-secondary: #e3927b;
    --accent1: #0a9400;
    --accent2: #DE1BE3;

    /* Polices d'ecriture */
    --heading: 'Poppins', sans-serif;
    --body: 'Hind', sans-serif;
  }
  
    html {
      scroll-behavior: smooth;
    }
    
      body {
        max-width: 120em;
        margin: 0;
      }

  h1, h2, h3, h4 {
    font-family: var(--heading);
    text-transform: uppercase;
  }

  a, p, input, textarea, label {
    font-family: var(--body);
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
  }

  input, textarea {
    border: none; 
    outline: none; 
    background-color: var(--light-primary); 
    padding: 0.5em; 
    box-shadow: -2px 2px 10px var(--dark-primary);
  }
  
  input:focus, textarea:focus {
    box-shadow: 0 0 2px 2px var(--dark-primary); 
  }
  