/* Variables de base pour le design */
:root {
    /* Couleurs */
    --primary: #1790E3;
    --dark-primary: #2370A5;
    --light-primary: #E8F4FD;
    --secondary: #E36B18;
    --accent1: #0a9400;
    --accent2: #DE1BE3;

    /* Police d'ecriture */
    --heading: 'Poppins', sans-serif;
    --body: 'Hind', sans-serif;
  }


  h1, h2, h3, h4 {
    font-family: var(--heading);
    text-transform: uppercase;
  }

  a, p {
    font-family: var(--body);
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
  }

  body {
    max-width: 120em;
    margin: 0;
  }
